* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column; }

ul {
  list-style-type: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #074160 67%, #00adff 100%); }
  .header__content {
    align-items: center !important; }

.header__text {
  color: white !important; }

.header__content-logo {
  display: inline;
  position: relative; }

.header__content-logo-img {
  background-color: white;
  width: 80px;
  border-radius: 35px;
  padding: 0.5px;
  margin: 40px 50px 0px 10px;
  position: relative;
  justify-content: center;
  align-content: center;
  left: 30px;
  bottom: 30px; }

.header__content-option {
  color: white !important;
  align-items: center;
  transition: all 500ms; }

.header__content-option:hover {
  border-bottom: 3px solid blue;
  color: #7dbcf3;
  font-size: 15px;
  transition: all 500ms; }
