

.banner {

    
    @extend .flexi;
    background-color: rgb(231, 231, 250); 
    background-image: url(/assets/Image/duo_project_2.jpg);
    height: 70vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat : no-repeat;
    align-items: center;
    opacity: 0.85; 


      
    &__title {

        @extend .flexi;
        color: white;       
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;    
        text-shadow: 1px  0px 0px black,
        0px  1px 0px black,
       -1px  0px 0px black,
        0px -1px 0px black;

       h1 {
        font-size: 65px;
          font-weight: bold;  
          text-align: center;
          background-color: rgba(3, 3, 49, 0.653);
          margin: 12vh 5vh;

        }

        h2 {
            font-size: 60px;
            text-align: center;
            flex-direction: row;
            justify-content: center;  
            margin:0 10px;

        }
    }
      
}
  
  
// animación



.shape2 {

    right: 5.8%;
    top: 29%;  
    z-index:-1;
    transform: translate(0px, 30px);

    img {

        max-width: 100%;
        height: auto;
        position: absolute;
        border: 0;
        display: block;
        top: 25.5%;
        left: 20%;
        -webkit-animation: ImageMov 20s linear infinite;
        animation: ImageMov 20s linear infinite;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: ImageMov;
    }

}


@keyframes ImageMov {
    0% {

        top: 20px;
        transform: rotate(0deg);
    }

    50% {

        top: 80px;
        transform: rotate(360deg);
    }
}

.shape3 {
 
    position: absolute;
    right: 5.8%;
    top: 93%;
    z-index: -1;

    img {
        -webkit-animation: shape3 20s linear infinite;
        animation: shape3 20s linear infinite;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: shape3;
    }
    
}


@keyframes shape3 {
    0% {

        top: 20px;
        transform: rotate(0deg);
    }

    50% {

        top: 80px;
        transform: rotate(360deg);
    }
}

//contenido

.boxs__titles {
    
    margin: 10vh 0;
    display: grid;
    grid-template-rows: repeat(3, 0.5fr); 
    z-index: 0;

    &-subtitle {

        font-size: 60px;
        font-style: italic;
        display: flex;
        justify-content: center;
        margin: 3px 0 30px 0;
        z-index: 0;
        animation-name: Boxtitle;
        animation-duration: 1s;
        animation-timing-function: linear; 
    }

    &-title {

        @extend .flexi;
        font-size: 35px;
        font-style: italic;
        margin:5px 0 5px 0;
        z-index: 0;
        animation-name: Boxtitle;
        animation-duration: 1s;
        animation-timing-function: linear;
    }

    &-description {
        
        @extend .flexi;
        font-size: 20px;      
        margin: 10px 50px;
        text-align:justify;
        z-index: 0;
        animation-name: Boxtitle;
        animation-duration: 1s;
        animation-timing-function: linear;
        letter-spacing: normal;
    }

}

@keyframes Boxtitle {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

//tarjetas
// aplicando grid a las tarjetas del index 
// Aplicando transformación 


.cards{
    margin: 50px;
    padding: 20px;
    
    
    &__container {

        @include templateGrid (3,1fr,30px); 
        margin: 0 auto;

        &-banner {

            background-color: rgba(51, 51, 233, 0.582);
            display: flex;
            padding: 10px;
            flex-flow:column wrap;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            box-shadow: 0 25px 50px -12px rgb(0, 0, 6);
            margin: 0;
            width: 350px;
            transition:all 0.5s;

            &:hover {

                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(96,66,124,1) 100%); 
                color: white;
                border: 2px solid white;
                transform: scale(1.02);

            }

            img {
                justify-content: center;
                width: 300px;
                height: 220px;
                padding: 30px 10px;
            }

            h2 {

                flex-flow: row nowrap;
                font-size: 25px;
                margin-bottom: 20px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: italic;

            }

            p {

                text-align:justify;
                letter-spacing:normal;
                padding: 10px;
                font-size: 18px;

            }

            a{
                color: rgb(231, 231, 250);
                display: inline-block;
                margin: 20px;
                padding: 20px;
                text-align: center;
                border: 3px black solid;
                border-radius: 20px;
                border-color: azure;
                background:  rgb(3, 3, 49);
                font-size: 18px;
                font-family: 'Nunito Sans', sans-serif;
                font-style: oblique;
                font-weight: bold;

                &:hover {
                    color: rgb(24, 24, 148);
                    background:white;
                    border-color: rgb(24, 24, 148);

                }

            }

        }

        
    }

    
}



.box__find {

    background-color: #f4f6f7;;

    &-one {
        display: flex;
        margin: 10px;
        padding: 5px;


        img {
            text-align:left;
            width: 300px;
            height: 200px;
            justify-content: flex-start;
        }
    }

    ul {
        list-style: none;

        li {
            margin: 10px;
            text-align:left !important;


            .box__icon-st {
                margin-bottom: 15px;
                align-items: right;
            
            
                &::before {

                    @extend .icon;
                    content:"\f0eb";


                }
            }
        

            .box__icon-nd {
            
                margin-bottom: 15px;
                align-items: left;

            
                &::before {
                    @extend .icon;
                    content:"\f1d8";


                }
            
            }
        
        

            .box__icon-rd {
                margin-bottom: 15px;
            
                &::before {
                    @extend .icon;
                content:"\f14a";

                
                }
            }

            .box__icon-four{
            
                margin-bottom: 15px;


                &::before {
                    @extend .icon;
                    content:"\f59a";


                }
            
            }
        

            .box__icon-five {
            
                margin-bottom: 15px;
            
                &::before {
                    @extend .icon;
                    content:"\f252";
                    align-items: left;

                }
            }    
        
            .box__icon-six {
            
                margin-bottom: 15px;

                &::before {

                    @extend .icon;
                    content:"\2a";

                }
            }    


            .box__icon-seven {
            
                margin-bottom: 15px;

                &::before {

                    @extend .icon;
                    content:"\f2bd";    

                }
            }


            .box__icon-eight {

                margin-bottom: 15px;

                &::before {
                    
                    @extend .icon; 
                    content:"\f080";    

                }

            }
        
            .box__icon-nine{
            
                margin-bottom: 15px;

                &::before {

                    @extend .icon;
                    content:"\f5c0";    

                }
            }
        }   
    }
}    

/* Media Queries para todo el proyecto */

@include breakpoint(xl){

/* @media (max-width:1200px) { */

    //banner

    .banner__title {
        h2 {
            font-size: 50px;
            margin-bottom: 30px;
        }
    }    

    
    //tarjetas

    .cards__container {

        @include templateGrid (2, 1fr,5px);
        justify-items: center;

        &-banner {
            width: 420px;     
            margin-bottom: 30px;

            img {
                width: 330px;
            }

            p {
                padding: 22px;
            }

        }
    }

}


@include breakpoint (lg) {

/* @media (max-width:992px) { */
    
    .banner {
       background-image: url(/assets/Image/geometric.jpg);
       height: 60vh;

        h1 {

           font-size: 50px;
           margin: 2vh 15vh;
           padding: 10px;
        }

        h2 {

           font-size: 40px;
           margin:10px 15vh;
        }

    }




    .boxs__titles {
       margin: 20px auto;

    

        &-subtitle {

           font-size: 45px;
           margin: 20px auto;
        }

        &-title {

           grid-template-rows: repeat(2, 1fr);
           font-size: 50px;
           margin: 5px;
           font-weight: bold;

        }

        &__titles-description {

           display: block;
           font-size: 12px;
           margin: 0 10px;
        }


    }


    .cards {
        margin: 5px;

        &__container {

            @include templateGrid (2, 1fr, 5px);
            justify-items: center;


            &-banner {

                max-width: 80%;
                width: 400px;
                margin-bottom: 30px;

                img {
                    width: 240px ;
                }

                p {
                    padding: 15px;
                }

            }
        
        }

    }


}

@include breakpoint (md) {
/* @media (max-width:768px) {  */

    .banner {

        background-image: url(/assets/Image/geometric.jpg);
        background-repeat : no-repeat;
        height: 60vh;

        h1 {

            font-size: 30px;
            padding: 10px;

        }

        h2 {
    
            font-size: 25px;

          }
        
    }

    

     .boxs__titles {
        margin: 20px auto;

        &-title {


            grid-template-rows: repeat(1, 1fr);
            font-size: 32px;
            margin: 1px auto;
            color:  rgb(6, 6, 68);
            font-weight: bolder;

        }

        &-subtitle {

            font-size: 30px;
            margin: 10px auto;

        }

        &-description {

            display: block;
            font-size: 16px;
            margin: 0 10px;
        }
    
     }


    .cards {
         margin: 0;
     
        &__container {

            @include templateGrid (2, 1fr, 5px);
            width: 300px;
            max-width: 70%;
            max-height: 70%;
            justify-content: center;
            gap: 5px;


            &-banner {
                padding: 0 auto;
                max-width: 70%;


            }

            img {
                width: 200px;
                height: 150px;
            }

            h2 {

                font-size: 20px;
                font-weight: bold;
            }

            p {
                font-size: 14px;
            }

            a {

                padding: 15px;
                border-radius: 15px;
                font-size: 14px;
            }

        }

        .shape2 {
        
            display: none;
        }

        .shape3 {
            display: none;

            img {

                display: none;
            }
        }
    }

}


@include breakpoint (sm) {

/* @media  (max-width:576px) { */



    .banner {

        background-image: url(/assets/Image/geometric.jpg);
        background-repeat : no-repeat;
        height: 40vh;

        &__title {

            flex-direction: column;

            h1{
                margin: 10px;
                padding: 10px;
                font-size: 26px;
                text-align: center;
                }
            
                h2 {
             
                font-size: 22px;
                margin: 15px 0 5px 0;
                text-align: center;
                
                }  

        }


    }  

    .boxs__titles {
        margin: 20px auto;

        &-title {

            @include templateGrid (1, 1fr, 3px);
            font-size: 32px;
            margin: 1px auto;
            color:  rgb(6, 6, 68);
            font-weight: bolder;
            text-align: center;

        }

        &-subtitle {

            font-size: 30px;
            margin: 2px auto;
            text-align: center;

        }

        &-description {
            padding: 12px;
            margin: 0 10px;
        }
    
     }


    .cards {

        margin: 1px;
        padding: 0;
    

        &__container {
            @include templateGrid (1, 1fr, 5px);
            align-content: center;
            margin: 0 auto;


            &-banner {

                width: 350px;
                margin-bottom: 20px;
                padding: 0 auto;
                display: flex;
                flex-flow: row wrap;

                img {
                    width: 200px;
                    height: 150px;
                    padding: 0 auto;

                }

                h2 {
                    font-size: 22px;
                    text-align: center;
                }

                p {
                    padding: 10px;

                }

                a {
                    font-size: 12px;
                    padding: 7px;
                    border-radius: 10px;

                }

            }
        }

    }

}
