
  .header__content-us {
    background-image: url(/assets/Image/about.jpg);
    height: 70vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;  
    opacity: 0.85; 

    h2 {
        font-size: 70px;
        color: black;
    }

    h3 {
        color:black;
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
       padding-top: 40px;
      }      
    
}

.box__content__info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 50px;
        margin-bottom: 30px;
        border-bottom: 6px solid black;
    }
}

.box__content__us {

    padding: 0 20px;  
    margin: 60px auto;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    &-parent {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,46,56,1) 100%);
        color: white;
        animation-name: MisionMov;
        animation-duration: 1s ;
        animation-timing-function:linear;

        h3 {
            font-size: 30px;
            margin: 15px 30px;
            padding: 0 15px;
            display: flex;
            text-align: justify;
            
        
        
        }
        p {
            font-size: 16px;
            margin: 15px 30px;
            padding:0 30px;
            display: flex;
            text-align: justify;
            padding: 10px;
        
        }
    }


}


.box__content__aside {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;


    &-img { 
        
        animation-name: ImgMov;
        animation-duration: 1s;
        animation-timing-function: linear;
        margin-left: 30px;
    
      }
    }


@keyframes MisionMov {
    0% {

        top: 20px;
        transform:translateY(10%);
    }

    100% {

        top: 80px;
        transform:translateY(5%) 
    }
}


@keyframes ImgMov {

    0% {
        top: 20px;
        transform: translateY(10%);
    }
    
    100% {
        top: 80px;
        transform: translateY(5%);
    }
}


//Medias Queries

@media (max-width:1200px) {

    .box__content__aside img {
        
        animation-name: ImgMov;
        animation-duration: 1s;
        animation-timing-function: linea;
        max-width: 90%;
        max-height: 70%;
    }
    
    
    @keyframes ImgMov {
    
        0% {
            top: 20px;
            transform: translateX(-10%);
        }
        
        100% {
            top: 80px;
            transform: translateX(5%);
        }
    }
    

}


@media (max-width:992px) { 
    .header__content-us {
        background-image: url(/assets/Image/geometric.jpg);
        background-repeat : no-repeat;
        height: 40vh;
        grid-template-columns: 1fr;

        h2 {

            color: white;
        }

        h3 {
            color: white;
        }

        &-parent {
            flex-flow: column wrap;
            animation-name: MisionMov;
            animation-duration: 1s;
            animation-timing-function: linear;
        }
        @keyframes MisionMov {
            0% {
        
                top: 20px;
                transform:translateX(10%);
            }
        
            100% {
        
                top: 80px;
                transform:translateX(5%) 
            }
        }
        

    }
    
    
    .box__content__aside-img {
        animation-name: ImgMov;
        animation-duration: 1s;
        animation-timing-function: linea;
        max-width: 90%;
        max-height: 70%;
    }
    
    
    @keyframes ImgMov {
    
        0% {
            top: 20px;
            transform: translateX(-10%);
        }
        
        100% {
            top: 80px;
            transform: translateX(5%);
        }
    }
    
    .box__content__info h2 {
        font-size: 35px;
    }
    
    .box__content-video {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        iframe {

            max-width: 75%;
            height: 300px;
        }
    }

}


@media (max-width:768px) { 

    .header__content-us {
        background-image: url(/assets/Image/geometric.jpg);
        background-repeat : no-repeat;
        height: 30vh;

        h2 {
                 
        color: white;
        font-size: 35px;

        }

        h3 {
            color: white;
            font-size: 20px;
        }
        
    }

    
    .box__content__us {
    
        grid-template-columns: 1fr;

        &-parent {

            display: block;
          

            h3 {
                font-size: 23px;
                margin: 10px;
            }

            p {
                font-size: 18px;
                margin: 10px;

            }
        } 
        
        
    }   
    
    .ytp-cued-thumbnail-overlay-image {
        max-width: 50%;
    }
    
}


@include breakpoint (sm) {


    .header__content-us {

        height: 50vh;

    }


    .box__content__us {

        
        &-parent {
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,46,56,1) 100%);
            color: white;
            animation-name: Boxtitle;
            animation-duration: 1s ;
            animation-timing-function:linear;

        }

    .box__content__aside {

    
    
        &-img { 
            
            animation-name: Boxtitle;
            animation-duration: 1s;
            animation-timing-function: linear;
            margin-left: 30px;
        
          }
        }
    

        @keyframes Boxtitle {
            0% {
                transform: translateY(100%);
            }
        
            100% {
                transform: translateY(0%);
            }
        }
    }

}