* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;   
}


body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}


ul {
    list-style-type: none;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}


//extend

.flexi {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.feet__red {
    padding: 5px;
    margin: 30px 15px 15px 5px;
}


//mixins

@mixin templateGrid ($column,$fraction,$gap) {
    display: grid;
    grid-template-columns: repeat($column, $fraction);
    gap: $gap;

}